* {
  font-family: 'Roboto', sans-serif; }

html body .row {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%; }
html body iframe {
  max-width: 100% !important; }
html body h1 {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: normal; }
html body h2 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: normal; }
html body h3 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: normal; }
html body h4 {
  font-size: 24px; }
html body h5 {
  font-size: 18px; }
html body li {
  margin: 16px 0px; }
html body a, html body p, html body span, html body li {
  font-size: 16px;
  color: #000;
  text-decoration: none; }
html body p {
  line-height: 1.7;
  font-size: 20px;
  line-height: 36px; }
html body a {
  position: relative; }
  html body a::after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: -5px;
    width: 0px;
    background: #2f86b7;
    left: 0px;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out; }
  html body a:hover::after {
    width: 100%; }
  html body a:hover i {
    opacity: 1; }
  html body a i {
    opacity: 0;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    color: #2f86b7; }
html body img {
  max-width: 100%; }
@media all and (max-width: 767px) {
  html body img {
    max-width: 100%;
    height: auto; }
  html body .container {
    width: auto; }
  html body .xoxo {
    padding-left: 0px !important; } }

.masthead {
  padding: 60px 0px;
  background: #000;
  position: relative;
  overflow: hidden; }
  .masthead .masthead-image {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: .3;
    -webkit-animation: scaleSlide 30s ease-out infinite alternate;
    animation: scaleSlide 30s ease-0out infinite alternate; }
  .masthead .container {
    position: relative;
    z-index: 5; }
  .masthead h1 {
    color: #fff; }
  .masthead p {
    color: #fff; }
  .masthead .masthead-content {
    position: absolute;
    bottom: 0px;
    width: 100%; }
  .masthead .masthead-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(220deg, rgba(0, 0, 0, 0.01) 17%, rgba(0, 0, 0, 0.94) 100%, black 100%); }
  @media all and (max-width: 767px) {
    .masthead .masthead-content {
      position: relative; }
    .masthead .container {
      height: auto !important;
      min-height: 50vh !important; } }

.news article {
  display: block;
  padding: 20px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2; }

#breadcrumbs {
  position: absolute;
  top: -50px; }
  #breadcrumbs span {
    font-size: 14px;
    color: #fff;
    font-weight: 100;
    text-decoration: none; }
  #breadcrumbs a {
    font-size: 14px;
    color: #fff;
    text-decoration: none; }
  @media all and (max-width: 767px) {
    #breadcrumbs {
      opacity: 0; } }

.content {
  padding: 60px 0px; }
  @media all and (max-width: 767px) {
    .content {
      padding: 30px 0px; } }

.container {
  max-width: 100% !important;
  width: 1310px; }

header .logo {
  max-width: 200px; }
header .menu {
  margin-top: 14px;
  margin-bottom: 0px;
  padding: 0px;
  list-style-type: none; }
  header .menu li {
    display: inline-block;
    margin: 0px 20px;
    padding: 20px 0px;
    position: relative; }
    header .menu li .btn-primary a {
      color: #fff;
      background: #2f86b7;
      padding: 12px 16px; }
    header .menu li:hover ul {
      display: block; }
    header .menu li ul {
      display: none;
      position: absolute;
      top: 40px;
      background: rgba(255, 255, 255, 0.9);
      padding: 10px;
      z-index: 8;
      min-width: 220px;
      left: 0px;
      text-align: left;
      margin: 0px 0px 0px 0px; }
    header .menu li.header-navigation__social-icon {
      margin: 0px 8px; }
      header .menu li.header-navigation__social-icon a i {
        color: #000;
        opacity: 1; }
      header .menu li.header-navigation__social-icon.header-navigation__social-icon--first {
        margin-left: 20px; }
    header .menu li li {
      margin: 0px;
      display: block;
      line-height: 48px;
      padding: 0px; }
header .mobile-menu {
  display: none; }
@media all and (max-width: 767px) {
  header {
    padding-top: 20px; }
    header .menu {
      display: none;
      position: absolute;
      z-index: 8;
      left: 0px;
      width: 100%;
      top: 170px;
      background: rgba(255, 255, 255, 0.95); }
      header .menu li {
        display: block;
        margin: 0px 20px; }
      header .menu.active {
        display: block; }
    header .logo img {
      height: 48px;
      width: auto; }
    header .mobile-menu {
      display: flex;
      padding: 20px 0px;
      border-top: 1px solid #f2f2f2;
      margin-top: 10px; }
      header .mobile-menu a {
        font-size: 16px; }
      header .mobile-menu .mobile-btn-outline {
        border: 1px solid #f2f2f2;
        box-sizing: border-box;
        padding: 8px 18px; }
      header .mobile-menu .mobile-btn {
        background: #2f86b7;
        color: #fff;
        box-sizing: border-box;
        padding: 8px 18px; } }

#sidebar {
  padding: 20px 0px; }
  #sidebar h3 {
    font-size: 24px !important;
    margin: 0px auto 24px; }
  #sidebar form {
    max-width: 100%; }
  #sidebar input {
    width: 100%;
    margin: 12px auto;
    line-height: 48px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    padding: 0px 0px 0px 12px;
    display: block; }
  #sidebar aside {
    margin-top: 40px; }
    #sidebar aside:nth-of-type(1) {
      margin-top: 0px; }
  #sidebar textarea {
    width: 100%;
    margin: 12px auto;
    line-height: 48px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    padding: 0px 0px 0px 12px;
    display: block;
    min-height: 160px; }
  #sidebar .btn-primary {
    background: #2F86B7;
    color: #fff;
    padding: 16px 32px;
    display: block;
    margin-top: 24px;
    border: 0px;
    font-weight: 700;
    cursor: pointer;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out; }

.slider-controls {
  position: absolute;
  bottom: 0px;
  z-index: 5;
  left: 0px;
  margin: 0px;
  padding: 0px; }
  .slider-controls li {
    display: inline-block; }
    .slider-controls li:hover a {
      background: #fff;
      color: #2f86b7; }
    .slider-controls li a {
      padding: 16px 32px;
      color: #fff;
      font-weight: bold;
      font-size: 24px; }
    .slider-controls li.active a {
      background: #2f86b7; }
    .slider-controls li.active:hover a {
      color: #fff; }

.slide-image {
  z-index: 2;
  -webkit-animation: scaleSlide 15s ease-out infinite alternate;
  animation: scaleSlide 15s ease-0out infinite alternate; }

.text-block {
  padding: 60px 0px; }
  .text-block h2 {
    margin-top: 0px; }
  .text-block p {
    font-size: 20px;
    line-height: 1.7; }

.news-container {
  padding: 60px 0px; }
  .news-container .news-block {
    text-align: left;
    padding: 20px 40px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    cursor: pointer; }
    .news-container .news-block.news-block--featured h3 {
      font-size: 32px;
      font-weight: 600; }
    .news-container .news-block.news-block--featured p {
      font-size: 20px;
      line-height: 1.7; }
    .news-container .news-block h3 {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.4;
      margin: 0px auto 14px; }
    .news-container .news-block h5 {
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 6px;
      font-size: 14px;
      margin: 10px 0px 8px; }
    .news-container .news-block p {
      font-size: 16px;
      line-height: 1.7;
      display: block;
      height: 0px;
      opacity: 0;
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out; }
    .news-container .news-block:hover {
      background: #FFFFFF;
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.29);
      z-index: 5;
      -ms-transform: scale(1.1, 1.1);
      /* IE 9 */
      -webkit-transform: scale(1.1, 1.1);
      /* Safari */
      transform: scale(1.1, 1.1); }
      .news-container .news-block:hover h3 {
        color: #2f86b7; }
      .news-container .news-block:hover p {
        display: block;
        height: auto;
        opacity: 1; }

a img {
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out; }
  a img:hover {
    opacity: .8; }

.tiles {
  padding: 60px 60px; }
  .tiles .tile {
    background: #1C6AA5;
    padding: 60px 60px;
    cursor: pointer;
    transform: scale(1, 1);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    position: relative;
    min-height: 450px;
    margin: 10px 5px; }
    .tiles .tile img {
      margin: 30px auto 20px; }
    .tiles .tile h2 {
      font-size: 42px;
      margin: 10px 0px 0px;
      color: #fff;
      font-family: 'Roboto', sans-serif; }
    .tiles .tile p {
      font-size: 20px;
      color: #fff; }
    .tiles .tile.second {
      background: #2F86B7; }
    .tiles .tile:hover {
      z-index: 5;
      -ms-transform: scale(1.1, 1.1);
      /* IE 9 */
      -webkit-transform: scale(1.1, 1.1);
      /* Safari */
      transform: scale(1.1, 1.1);
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.29);
      -webkit-box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.29); }
  @media all and (max-width: 767px) {
    .tiles {
      padding: 0px 20px; } }

.team-member {
  margin-bottom: 120px; }

footer .action-banner {
  padding: 60px 0px;
  background: #1C6AA5;
  position: relative;
  overflow: hidden; }
  footer .action-banner .action-banner-image {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: .3;
    -webkit-animation: scaleSlide 30s ease-out infinite alternate;
    animation: scaleSlide 30s ease-0out infinite alternate; }
  footer .action-banner .container {
    position: relative;
    z-index: 5; }
  footer .action-banner h2 {
    color: #fff; }
  footer .action-banner input {
    border: 0px;
    color: #fff;
    background: transparent;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    font-size: 18px;
    width: 100%; }
    footer .action-banner input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
      opacity: .5; }
    footer .action-banner input::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
      opacity: .5; }
    footer .action-banner input:-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
      opacity: .5; }
    footer .action-banner input:-moz-placeholder {
      /* Firefox 18- */
      color: #fff; }
    footer .action-banner input:-internal-autofill-selected {
      background: transparent !important; }
    footer .action-banner input[type="submit"] {
      padding: 0px;
      border: 0px;
      text-align: right;
      cursor: pointer; }
footer .footer-navigation {
  padding: 2% 0px; }
  footer .footer-navigation .footer-navigation__title {
    font-size: 18px; }
  footer .footer-navigation .footer-navigation__list {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    footer .footer-navigation .footer-navigation__list li a {
      text-decoration: none;
      color: #000;
      font-size: 15px;
      font-weight: 400;
      position: relative; }
      footer .footer-navigation .footer-navigation__list li a::after {
        content: '';
        position: absolute;
        height: 2px;
        bottom: -5px;
        width: 0px;
        background: #2f86b7;
        left: 0px;
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out; }
      footer .footer-navigation .footer-navigation__list li a:hover::after {
        width: 100%; }
footer .bottom-bar {
  background: #000;
  padding: 20px 0px; }
  footer .bottom-bar p {
    font-size: 14px;
    color: #fff;
    line-height: 1.7; }
  footer .bottom-bar .social-icons {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    footer .bottom-bar .social-icons li {
      color: #fff;
      display: inline-block;
      margin: 0px 12px; }
      footer .bottom-bar .social-icons li a {
        color: #fff; }
        footer .bottom-bar .social-icons li a i {
          color: #fff !important;
          font-size: 20px;
          opacity: 1; }

@-webkit-keyframes scaleSlide {
  0% {
    -webkit-transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1); } }
@keyframes scaleSlide {
  0% {
    transform: scale(1.2); }

  100% {
    transform: scale(1); } }
